body {
    margin: 0;
}
form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
h1 {
    text-align: center;
}

header {
    padding: 5px;
}

main {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}
#main {
    justify-self: center;
    text-align: center;
}

.values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    text-transform: capitalize;
}

.values.country {
    display: flex;
    gap: 4px;
}

#weatherArea {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px;

}
footer, header {
    background-color: black;
    color: white;
}